## New Notebook in 20th-Century Environment

In [1]:
import pandas as pd
import numpy as np

In [10]:
# Create a sample dataframe for this exercise

data = pd.DataFrame({"Country": ['AAA', 'BBBBB', 'CCC','DDD'],
                     "political_events": [10,20,15,6],
                     "non_political_events": [3,4,7,10]})

In [11]:
data

  Country  political_events  non_political_events
0     AAA                10                     3
1   BBBBB                20                     4
2     CCC                15                     7
3     DDD                 6                    10

In [13]:
data['Total_events'] = data.apply(lambda row: row['political_events'] + row['non_political_events'], axis=1)

In [14]:
data

  Country  political_events  non_political_events  Total_events
0     AAA                10                     3            13
1   BBBBB                20                     4            24
2     CCC                15                     7            22
3     DDD                 6                    10            16

In [15]:
# Create a label to mark how freqently a country was involved in notable events

data['Frequency_label' ] = data['Total_events'].apply(lambda x: 'Often' if x > 15 else 'less frequent')

In [16]:
data

,Country,political_events,non_political_events,Total_events,Frequency_label
0,AAA,10,3,13,less frequent
1,BBBBB,20,4,24,Often
2,CCC,15,7,22,Often
3,DDD,6,10,16,Often